/* You can add global styles to this file, and also import other style files */

@import './app/variables';
html,
body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: $font-weight-normal;
    z-index: 10;
}
